@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../common/animations" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $color-almost-black;
  transition: 0.3s ease;
}