@use "../common/variables" as *;
@use "../common/mixins" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav__brand {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav__logo {
  color: $color-neon-green;
  text-shadow: 0 0 10px $color-neon-green;
  user-select: none;
}

.nav__menu {
  display: flex;
  gap: 30px;
  list-style: none;

  @include vp-767 {
    & {
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      height: calc(100vh - 70px);
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 50px;
      padding-left: 15px;
      padding-bottom: 50px;
      transform: translateX(-100%);
      overscroll-behavior-y: contain;
      overflow-y: auto;
      background: rgba($color-almost-black, 0.95);
      transition: 0.3s ease;
    }

    &.show {
      transform: translateX(0);
    }
  }
}

.nav__link {
  @include link-underline($color-neon-green, 2px, -5px);
  font-weight: 500;

  &.active {
    color: $color-neon-green;
  }

  &.active::after {
    width: 100%;
    transform: scaleX(1);
  }
}

.nav__toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  border: none;
  background-color: $color-transparent;

  & span {
    width: 25px;
    height: 3px;
    background: $color-white;
    border-radius: 3px;
    transition: 0.3s ease;

    &:nth-child(2) {
      transform: scaleX(1);
      transform-origin: center;
    }
  }

  @include vp-767 {
    & {
      display: flex;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
      transform: scaleX(0)
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }
}