@use "../common/variables" as *;
@use "../common/mixins" as *;

.section {
  position: relative;
  padding: 100px 0;

  @include vp-767 {
    padding: 70px 0;
  }
}

.section__title {
  position: relative;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: $color-white;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, $color-neon-green, $color-neon-blue);
    border-radius: 2px;
  }

  @include vp-767 {
    font-size: 2rem;
  }
}