@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../common/animations" as *;

.skill {
  margin-bottom: 30px;
}

.skill__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skill__name {
  font-weight: 600;
  color: $color-white;
}

.skill__percentage {
  padding-right: 30px;
  font-weight: 600;
  color: $color-neon-green;
}

.skill__bar {
  position: relative;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background: $bg-dark-secondary;
}

.skill__progress {
  position: relative;
  height: 100%;
  background: linear-gradient(90deg, $color-neon-green, $color-neon-blue);
  border-radius: 4px;
  width: 0;
  transition: width 2s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg,
        $color-transparent,
        rgba($color-white, 0.3),
        $color-transparent);
    animation: shimmer 2s ease-in-out infinite;
  }
}