@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../common/animations" as *;

.tooltip {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.tooltip__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: $color-transparent;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    mask-image: url("../images/info.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $text-gray;
    transition:
      background-color 0.3s $ease-in-out-smooth,
      transform 0.3s $ease-in-out-smooth;
  }

  @include hover-focus {
    &:hover::before {
      transform: scale(1.05);
      background-color: rgba($color-neon-green, 0.8);
    }

    &+.tooltip__text {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.tooltip__text {
  position: absolute;
  margin: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  width: max-content;
  max-width: 230px;
  padding: 12px;
  opacity: 0;
  z-index: 150;
  pointer-events: none;
  background-color: $color-charcoal;
  color: $text-gray;
  border-radius: 4px;
  transition: opacity 0.4s $ease-in-out-smooth;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    top: -7px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: $color-charcoal;
  }

  @include vp-1023 {
    & {
      left: auto;
      right: -2px;
      transform: translate(0, 10px);

      &::after {
        left: auto;
        right: 0;
        transform: translate(-5px, 0) rotate(-45deg);
      }
    }

  }
}